<!--#コントローラから渡された@post_images変数内から1つずつ取り出して、post_image変数へ格納-->
<% @music_images.each do |music_image| %>
<div>
  <!--#refile側が用意したヘルパー、 imgタグを生成(post_image変数のimage_idに保存された画像のimgタグを生成)-->
  <%= attachment_image_tag music_image, :image %>
  <p>投稿ユーザー画像 : <%= image_tag('music_image.jpeg')%></p>
  <!--#post_image変数のmusic_nameカラムを表示、以下これらのカラムはmusic_imageモデルに定義されている-->
  <p>タイトル : <%= music_image.music_name %></p>
  <p>説明 : <%= music_image.caption %></p>
  <!--#post_image変数のuser_idに関連付けられているuserモデルのnameカラムを表示-->
  <p>ユーザーネーム : <%= music_image.user.name %></p>
</div>
<% end %>