<!DOCTYPE html>
<html>
  <head>
    <title>Music match</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <!--#ヘッダー部分-->
  <header>
　  <% unless current_page?(root_path) %>
    <%= render "layouts/header" %>
    <% end %>
  </header>

  <body>
    <div class="centering_parent">
      <span class="centering_item">
         <%= yield %>
      </span>
    </div>
  </body>

  <!--#フッター-->
  <footer>
    <%= render "layouts/footer" %>
  </footer>

  </body>
</html>